<app-header></app-header>
<app-cocktail-container></app-cocktail-container>
<!-- <div class="container d-flex flex-column">
  <div class="d-flex flex-row">
    <input #myinput class="m-10 flex-fill" type="text" />
    [(ngModel)]="fruit"
    <button class="btn btn-primary m-10" (click)="addFruit()">Ajouter</button>
  </div>
  <ul class="list-primary m-10">
    <app-fruit
      (eventDeleteF)="deleteFruit($event)"
      [fruit]="f"
      *ngFor="let f of fruits"
    ></app-fruit>
  </ul>
</div> 
<div
  class="container d-flex flex-column"
  style="height: 100vh; padding-top: 150px"
>
  <h1 class="m-10" style="text-align: center">Services:</h1>
  <app-add-aliment></app-add-aliment>
  <app-list-aliment></app-list-aliment>
</div>
-->
